extends layout

block content
  .row.main-container
    .col-sm-12
      h1 The title

  .row
    .col-sm-4
      h2 Col 1
      p Text 1
      p
        a.btn.btn-default(href='/') Learn more &raquo;
    .col-sm-4
      h2 Col 2
      p Text 2
      p
        a.btn.btn-default(href='/') Learn more &raquo;
    .col-sm-4
      h2 Col 3
      p Text 3
      p
        a.btn.btn-default(href='/') Learn more &raquo;